$color-primary: #658f6c;

.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    margin: 0px;
}

.header {
    width: 350px;
    height: 50px;
    background-color: $color-primary;

    .title {
        text-align: center;
        display: block;
    }
}