$color-primary: #c4c4c4;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    width: 350px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.container {
    padding-left: 20px;
    padding-right: 20px;

    .dropdown {
        width: 310px;
    }
}

.content {
    background-color: $color-primary;
    margin-top: 10px;
    overflow-y: scroll;
    height: 350px;
}

.edit {
    padding: 10px;
    float: left;
}

.add {
    padding: 10px;
    float: right;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
